@page "/"
@using System.Collections.ObjectModel
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

@inject DB.BlazorKbContext db;

<h3>ToDoList</h3>
<div class="container">
	<div class="row">
		<div style="margin-bottom:20px">
			<b class="m-4"> ЗАДАЧИ</b>
			<button style="width:50px" @onclick="(() => AddMan(value))">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
					<path d="M8 0q-.264 0-.523.017l.064.998a7 7 0 0 1 .918 0l.064-.998A8 8 0 0 0 8 0M6.44.152q-.52.104-1.012.27l.321.948q.43-.147.884-.237L6.44.153zm4.132.271a8 8 0 0 0-1.011-.27l-.194.98q.453.09.884.237zm1.873.925a8 8 0 0 0-.906-.524l-.443.896q.413.205.793.459zM4.46.824q-.471.233-.905.524l.556.83a7 7 0 0 1 .793-.458zM2.725 1.985q-.394.346-.74.74l.752.66q.303-.345.648-.648zm11.29.74a8 8 0 0 0-.74-.74l-.66.752q.346.303.648.648zm1.161 1.735a8 8 0 0 0-.524-.905l-.83.556q.254.38.458.793l.896-.443zM1.348 3.555q-.292.433-.524.906l.896.443q.205-.413.459-.793zM.423 5.428a8 8 0 0 0-.27 1.011l.98.194q.09-.453.237-.884zM15.848 6.44a8 8 0 0 0-.27-1.012l-.948.321q.147.43.237.884zM.017 7.477a8 8 0 0 0 0 1.046l.998-.064a7 7 0 0 1 0-.918zM16 8a8 8 0 0 0-.017-.523l-.998.064a7 7 0 0 1 0 .918l.998.064A8 8 0 0 0 16 8M.152 9.56q.104.52.27 1.012l.948-.321a7 7 0 0 1-.237-.884l-.98.194zm15.425 1.012q.168-.493.27-1.011l-.98-.194q-.09.453-.237.884zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a7 7 0 0 1-.458-.793zm13.828.905q.292-.434.524-.906l-.896-.443q-.205.413-.459.793zm-12.667.83q.346.394.74.74l.66-.752a7 7 0 0 1-.648-.648zm11.29.74q.394-.346.74-.74l-.752-.66q-.302.346-.648.648zm-1.735 1.161q.471-.233.905-.524l-.556-.83a7 7 0 0 1-.793.458zm-7.985-.524q.434.292.906.524l.443-.896a7 7 0 0 1-.793-.459zm1.873.925q.493.168 1.011.27l.194-.98a7 7 0 0 1-.884-.237zm4.132.271a8 8 0 0 0 1.012-.27l-.321-.948a7 7 0 0 1-.884.237l.194.98zm-2.083.135a8 8 0 0 0 1.046 0l-.064-.998a7 7 0 0 1-.918 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
				</svg>
			</button>
			<input @bind-value="value" style="width:500px" />
		</div>
		<button @onclick="(() => ChangeList(1))" class="bg-body text-white">ВСЕ ЗАДАНИЯ</button>
		<button @onclick="(() => ChangeList(2))" class="bg-success text-white">ВЫПОЛНЕННЫЕ</button>
		<button @onclick="(() => ChangeList(3))" class="bg-danger text-white">НЕВЫПОЛНЕННЫЕ</button>
	</div>
	<div class="row">
		@if (tasks.Count > 0)
		{
			@foreach (var task in tasks)
			{
				<div class="col-3">

					<div class="row row-cols-2">

						<button class=@task.ColorBox style="width:300px" @onclick="(()=>ChangeTask(task))">
							<b>@task.Title</b>
						</button>

						<button style="width:50px; height:50px" @onclick="(()=>DeleteTask(task))">
							<img style="width: 1.7em;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxcqfJ5q4oHVriChPKDW71cXni9ua8Al5KsA&s" />
						</button>

						<button type="button" style="width:50px; height:50px" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<img style="width: 1.7em" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbd9Ej6yfTti4RWD83xGTIW7mf8LHKXSITFQ&s" />
						</button>

						@* модальное окно *@
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Изменение задания</h5>
									</div>
									<div class="modal-body">
										<input @bind-value="task.Title" style="width:100%" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ЗАКРЫТЬ</button>
										<button type="button" @onclick="(()=>ChangeNameTask(task, task.Title))" class="btn btn-primary">СОХРАНИТЬ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<p>Задачи не найдены.</p>
		}
	</div>

</div>

@code {
	string value;
	List<DB.Task> tasks = new();


	protected override void OnInitialized()
	{
		base.OnInitialized();
		tasks = db.Tasks.ToList();
	}
	void ChangeTask(DB.Task task)
	{
		task.IsCompleted = !task.IsCompleted;
		if (task.IsCompleted)
		{
			task.ColorBox = "col-sm-2 bg-success m-3 text-light";
		}
		else
		{
			task.ColorBox = "col-sm-2 bg-danger m-3 text-light";
		}
		db.SaveChanges();
	}
	void ChangeList(int button)
	{
		switch (button)
		{
			case 1:
				tasks = db.Tasks.ToList();
				return;

			case 2:
				tasks = db.Tasks.Where(s => s.IsCompleted == true).ToList();
				return;
			case 3:
				tasks = db.Tasks.Where(s => s.IsCompleted == false).ToList();
				return;
		}
	}

	void DeleteTask(DB.Task SelectedTask)
	{
		tasks.Remove(SelectedTask);
		db.Tasks.Remove(SelectedTask);
		db.SaveChanges();
	}

	void AddMan(string text)
	{
		DB.Task task = new()
			{
				Title = text
			};

		tasks.Add(task);
		db.Tasks.Add(task);
		db.SaveChanges();
	}

	void ChangeNameTask(DB.Task SelectedTask, string newText)
	{
		DB.Task task = SelectedTask;
		task.Title = newText;
		db.SaveChanges();
	}
}
